<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="info">
    <ion-list-header>
      App Info
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>name</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>{{info.name}}</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>build</ion-label>
      </ion-item-divider>

      <ion-item-divider>
        <ion-label>id</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>{{info.id}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{info.build}}</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>version</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>{{info.version}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-text color="danger" *ngIf="!platform.is('hybrid')">
    <h4 >App Info does not work on the browser</h4>
  </ion-text>
  <ion-button expand="block" (click)="getLaunchUrl()" color="primary">Get Launch Url</ion-button>
  <ion-button expand="block" (click)="getState()" color="primary">Get State</ion-button>
  <ion-button *ngIf="platform.is('android')" expand="block" (click)="minimizeApp()" color="primary">Minimize App</ion-button>
  <ion-button *ngIf="platform.is('android')" expand="block" (click)="exitApp()" color="primary">Exit App</ion-button>
</ion-content>
